<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alphasta.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.alphasta.model.Company">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="leader" property="leader" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="fax" property="fax" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="createrId" property="createrId" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <association property="createUser" column="createrId" javaType="com.alphasta.model.User" select="com.alphasta.mapper.UserMapper.findUserById"/> 
    </resultMap>
    <sql id="Base_Column_List">
    	id,name,leader,address,fax,tel,createrId,createTime
  	</sql>

    <select id="findCompanyPageCondition" resultMap="BaseResultMap" parameterType="PageInfo">
        select
        <include refid="Base_Column_List"/>
        from Company 
        <where>
        	<if test="condition.name != null and condition.name != null">
        		and name like '%${condition.name}%'
        	</if>
        </where>
        order by ${sort} ${order}
        limit #{from}, #{size}
    </select>

    <select id="findCompanyPageCount" resultType="java.lang.Integer" parameterType="PageInfo">
	    select 
	    count(*) count
	    from Company
	    <where>
        	<if test="condition.name != null and condition.name != null">
        		and name like '%${condition.name}%'
        	</if>
        </where>
  	</select>

    <select id="findCompany" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from Company 
        order by createTime
    </select>

    <select id="findCompanyById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from Company
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.alphasta.model.Company">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into Company (name,leader,address,fax,tel,createrId,createTime)
        values (#{name}, #{leader}, #{address}, #{fax}, #{tel},#{createrId}, now())
    </insert>

    <update id="update" parameterType="com.alphasta.model.Company">
        update Company
        <set>
	        name = #{name},
	        leader = #{leader},
	        address = #{address},
	        fax = #{fax},
	        tel = #{tel},
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


    <delete id="deleteByIds" parameterType="java.lang.String">
	    delete from Company
	    where id in (${_parameter})
  	</delete>
</mapper>